{% extends 'inventory/base.html' %}

{% block title %}Требуют пополнения{% endblock %}
{% block page_title %}Товары, требующие пополнения{% endblock %}

{% block content %}

<div class="card">
    <h2>Список товаров</h2>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Пол</th>
                    <th>Артикул</th>
                    <th>Остаток</th>
                    <th>Мин. остаток</th>
                    <th>Средние продажи в день</th>
                    <th>Рекомендуемый заказ</th>
                    <th>Приоритет</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.gender }}</td>
                    <td>{{ product.article }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.minimum_quantity }}</td>
                    <td>{{ product.avg_daily_sales }}</td>
                    <td>{{ product.recommended_order }}</td>
                    <td>
                        {% if product.replenishment_priority == 'Высокий' %}
                        <span class="status-critical">Высокий</span>
                        {% elif product.replenishment_priority == 'Средний' %}
                        <span class="status-min">Средний</span>
                        {% else %}
                        <span class="status-ok">Низкий</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9">Нет товаров, требующих пополнения.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
